html {
    scroll-behavior: smooth;
}

:root {
    --offwhite: rgb(250, 250, 250);
    --green: rgb(124, 203, 175);
    --grey: rgb(65, 65, 65);
    --highlight: #000000;
}

body {
    background: var(--offwhite);
    font-family: 'Rosario', sans-serif;
    color: var(--grey);
    position: relative;
}

h1, h2, a {
    font-family: 'Roboto Mono', monospace;
}

#logo {
    font-size: xx-large;
}
